.todoList {
  list-style: none;
  padding: 0;
}

.todoItem {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  &.completed {
    text-decoration: line-through;
  }

  &.important {
    color: red;
  }
}

.addButton {
  margin-top: 10px;
}

.inputField {
  margin-right: 10px;
}
